@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
  --primary-color: #CC0033;
    --black-color:#0E2431;
    --white-color:#fff;
    --back-color:#e4e1e1dc;

}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(#CC0033);
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
body{
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
}
nav.sticky{
  background-color:#CC0033;
  padding:13px 0;
  z-index: 1;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .title{
  font-weight: 500;
  font-size: 35px;
  color: #CC0033;
}
nav.sticky .navbar .title{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
nav .navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color:#0E2431;
  padding:6px 0;
  transition: all 0.4s ease;
}
nav .navbar .menu a:hover{
  color: #CC0033;
}
nav.sticky .navbar .menu a:hover{
  color: #fff;
}

.whole{
  width: 100%;
  height:960px;
  background: url("images/background_soft-grey.jpg") no-repeat;
  background-size: cover;
}
.whole .main{
  line-height: 1.75;
  height: 90%;
  display: flex;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.whole .main .text{
  width: 35%;
  margin-bottom: 90px;
}
.whole .title span{
  color:#CC0033;
  font-size: 40px;
  font-weight: 600;
  position:relative;
  padding-bottom:8px;
}
.whole .title span::before,
.whole .title span::after{
  content:'';
  position:absolute;
  height:3px;
  width:100%;
  background:#CC0033;
  left:0;
  bottom:0;
}
.whole .main .body{
  margin-top: 20px;
  font-size: 20px;
}
.whole .question{
  width: 50%;
}
.whole .main input {
  background-color: transparent; 
  border: none; 
  border-bottom: 2px solid black; 
  padding: 5px 0; 
  outline: none; 
  color: black;
  font-size: 19px; 
  width: 80%;
  display: flex;
  gap: 30px;
}
.whole .main textarea{
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
  background-color: transparent; 
  border: none; 
  border-bottom: 2px solid black; 
  padding: 5px 0; 
  outline: none; 
  color: black;
  font-size: 20px; 
  width: 80%;
}
.main button{
  background-color: #CC0033;
  color:#ffffff;
  border-color: #CC0033;
  border-radius: 8px;
  font-size: 25px;
  padding:8px 16px;
  font-weight:400;
  border:solid transparent;
  transition: all 0.4s ease;
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
}
.main button:hover{
  color:#CC0033;
  background-color:#fff;
  border-color: #CC0033;
  cursor: pointer;
}
@media (max-width:900px){
  .whole{
    height:auto;
  }
  .whole .main{
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .whole .main .text{
    margin-top: 100px;
    width: 80%;
    align-items: center;
    margin-bottom: 0px;
  }
  .whole .question{
    width: 70%;
  }
  .whole .main input {
    width: 100%;
  }
  nav .navbar .menu .leave{
    display: none;
  }
  nav .navbar .title{
    font-weight: 500;
    font-size: 23px;
    color: #CC0033;
  }
  nav .navbar .media-icons img{
    width: 110px;
  }
}