@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
  --primary-color: #CC0033;
    --black-color:#0E2431;
    --white-color:#fff;
    --back-color:#e4e1e1dc;

}
.scroll-button a{
  position:fixed;
  bottom:20px;
  right:20px;
  color:var(--white-color);
  background:var(--primary-color);
  padding:10px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0,0,0,0.15);
  display:none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(#CC0033);
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
body{
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
}
nav.sticky{
  background-color:#CC0033;
  padding:13px 0;
  z-index: 1;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
section .Title{
  display:flex;
  justify-content: center;
  margin-bottom: 40px;
}
nav .navbar .Title{
  font-weight: 500;
  font-size: 35px;
  color: #CC0033;
}
nav.sticky .navbar .Title{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
nav .navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color:var(--black-color);
  padding:6px 0;
  transition: all 0.4s ease;
}
nav .navbar .menu a:hover{
  color: #CC0033;
}
nav.sticky .navbar .menu a:hover{
  color: #fff;
}

.main{
  height: 100vh;
  background:url("images/red-white-brushstrokes-background_851755-102.avif") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.main .content{
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .text{
  width: 45%;
}
.main .text-one{
  font-size: 25px;
  color:#0E2431;
}
.main .text-two{
  font-size: 75px;
  color:#CC0033;
  font-weight: 500;
  margin-left: -3px;
}
.main .text-three{
  font-size: 35px;
  color:#0E2431;
  font-weight: 500;
  margin-left: -3px;
}
.main .mimage{
  height:auto;
  width:450px;
  object-fit: cover;
  border-radius: 12px;
}
.main .text button{
  background-color: #CC0033;
  color:#ffffff;
  border-color: #CC0033;
  border-radius: 8px;
  font-size: 25px;
  padding:8px 16px;
  font-weight:400;
  border:solid transparent;
  transition: all 0.4s ease;
  margin-top: 30px;
  font-family: 'Ubuntu', sans-serif;
}
.main .text button:hover{
  color:#CC0033;
  background-color:#fff;
  border-color: #CC0033;
  cursor: pointer;
}


.about{
  padding-top:40px;
  background-color:var(--back-color);
  padding-bottom: 30px;
}

.about .text{
  width:80%;
  margin:40px auto;
  font-family: 'Poppins', sans-serif;
}
section .Title span{
  color:var(--black-color);
  font-size: 30px;
  font-weight: 600;
  position:relative;
  padding-bottom:8px;
}
section .Title span::before,
section .Title span::after{
  content:'';
  position:absolute;
  height:3px;
  width:100%;
  background:var(--primary-color);
  left:0;
  bottom:0;
}
.about .aimage img{
  height:400px;
  width:400px;
  object-fit: cover;
  border-radius: 12px;
}
.about h1{
  color:#940101;
  font-size:23px;
  font-weight:600;
  margin-bottom: 10px;
}
.about .right{
  text-align: justify;
  color:var(--black-color);
  width: 55%;
  margin-right: 5%;
}
.about .paragraph{
  display: flex;
  justify-content:space-between;
  align-items: center;
}








.education{
  width: 90%;
  padding-top:60px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}
.education .Title{
  display: flex;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
}
.education .body{
  width: 90%;
  margin:40px auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}
.education .left{
  text-align: justify;
  color:var(--black-color);
  width: 50%;
  margin-right: 150px;
}
.education .subhead{
  font-size: 25px;
  font-weight: 500;
  color: rgb(141, 0, 0);
}
.education .image img{
  display: flex;
  width:500px;
  object-fit: cover;
  align-items: center;
  border-radius: 12px;
}
.education .stats{
  margin-top: 10px;
  display: grid;
  column-gap: 60px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
}
.education .bold{
  font-weight: 500;
  color: #CC0033;
  font-size: 17px;
}




.block{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  height: auto;
  font-family: 'Poppins', sans-serif;
}
.block .subhead{
  padding-top: 20px;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
}
.block1{
  width: 40%;
  background-color: #CC0033;
  background:url("images/solid-red-197a3qfe3xpmn26q.jpg") no-repeat;
  background-size:cover;
  background-position: center;
  border: 0.5px solid #000;
}
.block1 .subhead{
  color: #fff;
}
.block1 .amc{
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.block .bold{
  font-weight: 500;
  color:#CC0033;
  font-size: 19px;
}
.block .body{
margin-top: 30px;
margin-left: 70px;
margin-bottom: 30px;
 line-height: 2.5;
 font-weight: 500;
 width: 80%;
 height: auto;
 border-radius: 20px;
 background-color: #fff;
}
.block .text{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
.block2{
  height: 55%;
  background:url("images/istockphoto-1166361867-612x612.jpg") no-repeat;
  background-size: cover;
  border: 0.5px solid #000;
}
.block2 .bonner{
  float: left;
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 20px;
  height: 100%;
}
.block2 .body2{
  display: flex;
  height: 80%;
  width: 55%;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  color:var(--black-color);
  font-weight: 500;
  line-height: 1.5;
}
.block .blockwrap{
  display: flex;
  flex-direction: column;
  width:60% ;
}
.block3{
  background:url("images/light-brown-watercolor-splash-wash-background_70155-302.avif") no-repeat;
  background-size: cover;
  height: 45%;
  border: 0.5px solid #000;
}
.block3 .mit{
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  float: left;
  height: 100%;
  border-radius: 12px;
}
.block3 .body3{
  line-height: 2;
  margin-top: 10px;
  margin-right: 25px;
  font-weight: 500;
  font-size: 18px;
}



.Language{
  padding: 10px;
  height: auto;
  font-family: 'Poppins', sans-serif;
}
.Language .reason{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
}
.Language .body{
  width: 40%;
  margin-left: 150px;
  margin-right: 250px;
}
.Language .sub{
  font-size: 25px;
  font-weight: 600;
  color: #CC0033;
}
.Language .box{
  width: 45%;
  font-size: 15px;
  margin-left: 50px;
}
.Language .area{
  margin-top: 70px;
}
.Language .bold{
  font-weight: 500;
  font-size: 18px;
  
}
.Language .name{
  font-size: 25px;
  color:var(--primary-color);
}
.Language .box1{
  margin-bottom: 50px;
  margin-right: 40px;
  line-height: 1.75;
}
.Language .box2{
  margin-right: 40px;
}


.footer{
  height: 60px;
  background-color: #CC0033;
}
.footer .note{
  
  font-size: 16px;
  color: #fff;
  padding:15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

@media (max-width:1100px){
  .about{
    width: 100%;
  }
  .about .paragraph{
    justify-content: center;
    flex-direction: column;
  }
  .about .right{
    width:90%;
    margin:40px 0;
  }
}

@media (max-width:1000px){
  .main{
    width: 100%;
    font-size: smaller;
  }
  .main .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .main .text-two{
    font-size: 50px;
  }
  .main .text-three{
    font-size: 30px;
  }
  .main .text{
    width: 100%;
  }
  .main .mimage{
    width: 350px;
    margin-top: 40px;
  }
}
@media (max-width:1100px){
  .education{
    width: 100%;
  }
  .education .body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .education .left{
    width: 90%;
    margin-right: 0;
    order: 2;
  }
  .education .image img{
    order: 1;
    width: 100%;
  }
}
@media (max-width:1300px){
  .block{
    flex-direction: column;
  }
  .block .blockwrap{
    width:100%;
  }
  .block .body{
    margin-left: 50px;
  }
  .block1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .block2{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .block2 .bonner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    clear: both;
    width: 100%;
    margin-bottom: 20px;
  }
  .block2 .body2{
    width: 85%;
  }
  .block3{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .block3 .mit{
    clear: both;
  }
  .block3 .body3{
    width: 85%;
    margin-bottom: 10px;
    justify-content: center;
  }
}
@media (max-width:950px){
  .Language{
    width: 95%;
  }
  .Language .reason{
    flex-direction: column;
    justify-content:center;
    line-height: 1.75;
    margin: 0; 
    font-size: 15px;
  }
  .Language .body{
    width: 83%;
    margin-left: 10px;
    margin-right: 40px;
  }
  .Language .box{
    justify-content: baseline;
    margin-top: 70px;
    width: 100%;
    
  }
  nav .navbar .menu a{
    font-size: 16px;
  }
  nav .navbar .Title{
    font-weight: 500;
    font-size: 23px;
    color: #CC0033;
  }
  nav .navbar .menu .leave{
    display: none;
  }
  nav .navbar .media-icons img{
    width: 110px;
  }
  .about .aimage img{
    width:300px;
    height: 350px;
  }
  .main .content{
    text-align: center;
  }
  .about .text{
    width:95%;
  }
  .block .body{
    width: 90%;
    margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
    }
}